<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>

  <body>
    <div class="navbar">
      <div class="logo"></div>

      <div>
      <%= link_to("My Lists", lists_path, class:'my-lists') %>
      <%= link_to new_list_path do %>
        <i class="fas fa-plus-square" id="new-list"></i> New list
      <% end %>
      </div>
    </div>
      <%= yield %>

  </body>
</html>
